@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   --Red: hsl(0, 78%, 62%);
   --Cyan: hsl(180, 62%, 55%);
   --Orange: hsl(34, 97%, 64%);
   --Blue: hsl(212, 86%, 64%);
   --Very-Dark-Blue: hsl(234, 12%, 34%);
   --Grayish-Blue: hsl(229, 6%, 66%);
   --Very-Light-Gray: hsl(0, 0%, 98%);
}

img {
   max-width: 100%;
}

body {
   font-family: 'Poppins', sans-serif;
   font-size: 15px;
   min-height: 100vh;
   background-color: var(--Very-Light-Gray);
}

main {
   max-width: 1440px;
   margin: 0 auto;
   padding: 3rem 1.5rem;
}

header {
   text-align: center;
   margin-bottom: 3rem;
}

header h1 {
   font-size: 1.5rem;
   margin-bottom: 0.25rem;
   font-weight: 200;
   color: var(--Very-Dark-Blue);
}

header h2 {
   font-size: 1.5rem;
   margin-bottom: 1.5rem;
   font-weight: 600;
   color: var(--Very-Dark-Blue);
}

header p {
   max-width: 500px;
   color: var(--Grayish-Blue);
   line-height: 1.5;
   margin: 0 auto;
   text-wrap: wrap;
}

.parent {
   display: grid;
   gap: 1.75rem;
   justify-content: center;
   align-content: center;
}

.child {
   background-color: white;
   border-radius: 0.3rem;
   padding: 1.5rem;
   box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
   display: grid;
   max-width: 100%;
   width: 18rem;
}

.child h3 {
   color: var(--Very-Dark-Blue);
   margin-bottom: 1rem;
   font-size: 1rem;
}

.child p {
   color: var(--Grayish-Blue);
   font-size: 0.75rem;
   line-height: 1.5;
   margin-bottom: 2rem;
}

.child img {
   justify-self: right;
   width: 3.5rem;
}

.child-1 {
   border-top: 0.3rem solid var(--Cyan);
   /* grid-column: 1 / span 2;
   grid-row: 2 / span 2; */
}

.child-2 {
   border-top: 0.3rem solid var(--Red);
   /* grid-column: 3 / span 2;
   grid-row: 1 / span 2; */
}

.child-3 {
   border-top: 0.3rem solid var(--Orange);
   /* grid-column: 3 / span 2;
   grid-row: 3 / span 2; */
}

.child-4 {
   border-top: 0.3rem solid var(--Blue);
   /* grid-column: 5 / span 2;
   grid-row: 2 / span 2; */
}



.attribution {
   font-size: 11px;
   text-align: center;
}

.attribution a {
   color: hsl(228, 45%, 44%);
}


@media (min-width: 48em) {

   header h1 {
      font-size: 2rem;
   }

   header h2 {
      font-size: 2rem;
   }

   .child {
      width: 20rem;
   }

   .child h3 {
      font-size: 1.5rem;
   }

   .child p {
      font-size: .85rem;
   }

   .child img {
      width: 4.5rem;
   }

   .child-1 {
      grid-column: 1 / span 2;
      grid-row: 2 / span 2;
   }

   .child-2 {
      grid-column: 3 / span 2;
      grid-row: 1 / span 2;
   }

   .child-3 {
      grid-column: 3 / span 2;
      grid-row: 3 / span 2;
   }

   .child-4 {
      grid-column: 5 / span 2;
      grid-row: 2 / span 2;
   }
}